<div class="sponsor-page">
  <div class="sponsor-amounts">
    <label for="sponsor-amount-input">{{i18n "discourse_plugin_name.sponsor.amount_label"}}</label>
    <div class="sponsor-amounts__presets">
      {{#each this.presetAmounts as |amount|}}
        <button
          type="button"
          class="btn btn-default"
          {{on "click" (fn this.selectPreset amount)}}
        >
          {{amount}}
        </button>
      {{/each}}
    </div>
    <input
      id="sponsor-amount-input"
      class="sponsor-amounts__input"
      type="number"
      inputmode="decimal"
      min="0"
      placeholder={{i18n "discourse_plugin_name.sponsor.custom_amount_placeholder"}}
      value={{this.amount}}
      {{on "input" this.updateAmount}}
    />
  </div>

  <div class="sponsor-payment-buttons">
    <button type="button" class="btn btn-primary">
      {{i18n "discourse_plugin_name.sponsor.alipay"}}
    </button>
    <button type="button" class="btn btn-primary">
      {{i18n "discourse_plugin_name.sponsor.wechat"}}
    </button>
  </div>

  <p class="sponsor-page__note">
    {{i18n "discourse_plugin_name.sponsor.footer_note"}}
  </p>

  <div class="sponsor-page__anonymous-toggle">
    <label>
      <input
        type="checkbox"
        checked={{this.isAnonymous}}
        disabled={{not this.record}}
        {{on "change" this.toggleAnonymous}}
      />
      {{i18n "discourse_plugin_name.sponsor.anonymous_toggle_label"}}
    </label>
    {{#unless this.record}}
      <p class="sponsor-page__anonymous-hint">
        {{i18n "discourse_plugin_name.sponsor.anonymous_toggle_hint"}}
      </p>
    {{/unless}}
  </div>

  <div class="sponsor-page__leaderboard">
    <h2>{{i18n "discourse_plugin_name.sponsor.leaderboard_title"}}</h2>
    {{#if this.leaderboardLoading}}
      <p>{{i18n "discourse_plugin_name.sponsor.leaderboard_loading"}}</p>
    {{else}}
      {{#if this.leaderboard.length}}
        <ol>
          {{#each this.leaderboard as |record|}}
            <li>
              <span class="sponsor-page__leaderboard-name">
                {{record.display_name}}
              </span>
              <span class="sponsor-page__leaderboard-amount">
                {{record.amount_cents}}
              </span>
            </li>
          {{/each}}
        </ol>
      {{else}}
        <p>{{i18n "discourse_plugin_name.sponsor.leaderboard_empty"}}</p>
      {{/if}}
    {{/if}}
  </div>
</div>
<section class="sponsor-page">
  <h1>{{i18n "discourse_plugin_name.sponsor.title"}}</h1>
  <p>{{i18n "discourse_plugin_name.sponsor.description"}}</p>
</section>
